* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
.maket {
    width: 100%;
    height: 100vh;
    background-image: url(start-screen-gradient-background.png);
}
.w {
    position: absolute;
    top: 60px;
    left: 40px;
    right: 40px;
    width:1200px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.block1{
    width: 184px;
    height: 60px;
}

.block2 {
    display: flex;
align-items: center;
    width: 184px;
    height: 35px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 110%;
    color: #F1CDB3;
    letter-spacing: 0.06em;
}
.block3 {
    display: flex;
align-items: center;
    width: 184px;
    height: 15px;
    margin-top: 10px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    letter-spacing: 0.1em;
}
nav {
    position: absolute;
    right: 40px;
    display: flex;
    justify-content: center;
}
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 443px;
    height: 27px;
}
.list_item_link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    text-decoration: none;
}

.list_item_link:active {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}