div {
    border-radius: 25.5px;
}
    
.button1 {
    width: 185px;
    height: 51px;
    position: relative; 
    top: 100px; 
    left: 580px;
    background: linear-gradient(108.62deg,
    #5D5FEF 20.49%, 
    #7879F1 46.52%, 
    #A5A6F6 78.55%, 
    #A5A6F6 78.55%);
}
    
.button2 {
    width: 185px; 
    height: 51px; 
    position: relative; 
    top: 110px; 
    left: 580px; 
    background-color: #A5A6F6;
}

.button3 {
    width: 185px; 
    height: 51px; 
    position: relative;
    top : 125px;
    left: 580px;
    background: #5D5FEF;;
}