* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

.block1 {
    height: 105px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}

.name {
    padding-top: 10px;
    padding-left: 66px;
    font-family: 'Six Caps';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 84px;
    color: #000000;
}
nav {
    padding-right: 66px;
    display: flex;
    justify-content: center;
}
.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    height: 36px;
}
.list_item_link {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    text-decoration: none;
}


.conteiner {
    position: absolute;
    margin:0 auto;
    left:0;
    right:0;
    margin-top: 40px;
    height: 849px;
    width: 1310px;
    display: grid;
    grid-template-rows:248px 120px 77px 98px 209px;
    grid-template-columns: 315px 310px 377px 242px;
    row-gap: 25px;
    column-gap: 22px;
    grid-template-areas:"q1 q2 q6 q7"
                        "q1 q3 q6 q7"
                        "q4 q3 q6 q7"
                        "q4 q3 q8 q8"
                        "q5 q5 q8 q8";

}
.d1 {
    grid-area: q1;
    background-image: url(asserts/img/1.jpg);
}
.d2 {
    grid-area: q2;
    background-image: url(asserts/img/2.jpg);
}
.d3 {
    grid-area: q4;
    background-image: url(asserts/img/9.jpg)
}
.d4 {
    grid-area: q3;
    background-image: url(asserts/img/4.jpg)
}
.d5 {
    grid-area: q5;
    background-image: url(asserts/img/5.jpg)
}
.d6 {
    grid-area: q6;
    background-image: url(asserts/img/6.jpg)
}
.d7 {
    grid-area: q7;
    background-image: url(asserts/img/7.jpg)
}
.d8 {
    grid-area: q8;
    background-image: url(asserts/img/8.jpg)
}
